<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Expressolama</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Expressolama">
  <meta property="og:title" content="Expressolama">
  <meta property="og:description" content="Expressolama. Best Lama in the World.">
  <meta property="og:image" content="/images/meta/icon512_maskable.png">
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:title" content="Expressolama">
  <meta name="twitter:description" content="Expressolama. Best Lama in the World.">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/meta/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/meta/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/meta/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/meta/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/meta/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/meta/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/meta/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/meta/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/meta/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/meta/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/meta/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/meta/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/meta/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/meta/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <div class="chat-container">
    <div id="chat" class="chat-box"></div>

    <form id="chat-form" class="chat-form">
      <textarea id="userInput" placeholder="Nachricht eingeben..." autocomplete="off" rows="1"></textarea>
      <button type="submit" style="display: flex; align-items: center;">

        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
        </svg>

      </button>
    </form>
  </div>

  <script src="/marked.min.js"></script>
  <script defer src="/client.js"></script>

</body>
</html>
